html, body {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
}

canvas {
  display: block;
}

.navgrid {
  display: grid;
  position: relative;
  justify-content: center;
  grid-auto-columns: max-content;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  background-color: #404040;
  color:white;
  width: 10;
  font-size: 14;
  float: left;
  padding:5px;
}

#index {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

#bball {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

#ksphelper {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
}

#ct-challenges {
  grid-column: 4;
  grid-row: 1;
  text-align: center;
}

#navlink {
  margin: 10px;
  
}

a {
  color:azure;
}

.navbar:hover {
  background-color: purple;
}

.navbar:active{
  background-color:grey;
}

#list {
  list-style-type: square;
  padding: 2em;
}

#listlink {
  color: azure;
}

body {
  color: azure;
  background-color: rgb(44, 44, 44);
}

select {
  list-style: square;;
}

#startdiv {
  padding:5px;
}

#targetdiv {
  padding:5px;
}

#calculate {
  padding: 5px;
}

#calculate:hover {
  background-color: purple;
}